body {
    background-color: rgb(34, 33, 33);
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
}

.test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    color: aliceblue;
}