:root {
    --border-radius: 5px;
    --gradiente: linear-gradient(to bottom, #1500ff, #0033ff);
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: aliceblue;

    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


body::-webkit-scrollbar {
    width: 10px; 
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--bg-color); 
    border-radius: 10px; 
  }
  
  body::-webkit-scrollbar-track {
    background-color: var(--bg-color); 
  }
  
  html {
    scroll-behavior: smooth;
  }

/* SECTION 001 ---------------------------------------------------------------------------------------------------------------------------------*/
.hub {
    margin-top: 5px;
    width: 80%;
    display: flex;
    gap: 10px;
    overflow: hidden;

}

.BtHub {
    width: 100%;
    height: 30px;
    border: none;

    background: var(--gradiente);
    border-radius: var(--border-radius);
}

/* SECTION 002 ---------------------------------------------------------------------------------------------------------------------------------*/
.apresentation {
    display: flex;
}

.apresentation p,h1{
    margin-left: 50px;
}



.apresentation p {
    width: 80%;
    margin-left: 50px;
}

.myPhoto {
    width: 25%;
    height: auto;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
    margin-left: 50px;
}

.Works {
    display: flex;
    gap: 10px;
    margin-left: 50px;
    margin-top: 50px;
}

.Works img {
    width: 15%;
    height: auto;
    border-radius: 100%;
}

/* SECTION 003 ---------------------------------------------------------------------------------------------------------------------------------*/

.MySkills {
    display: flex;
    width: 90%;
    height: 100%;

    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-top: 50px;

}

.SkillCard {
    width: 100%;
    height: auto;
    background: var(--gradiente);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;

    align-items: center;
    

}

.SkillCard img {
    width: 80px;
    height: 80px;
}

.SkillCard h1, p{
    text-align: center;
    width: 90%;
    margin-left: 0px;
}
.SkillCard p {
    margin-bottom: 30px;
}

/* SECTION 003 ---------------------------------------------------------------------------------------------------------------------------------*/

.carrer {
    display: flex;

    width: 100%;
    height: 400px;

    gap: 10px;
}
.boxCarrer1 {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-left: 30px;
}

.boxCarrer2 {
    display: flex;
    gap: 10px;
    width: 100%;
    
}


.separateCardCarrer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardcarrer {
    width: 200px;
    height: 200px;
    background-image: var(--gradiente);
    border-radius: var(--border-radius);
}


/* SECTION 04 ---------------------------------------------------------------------------------------------------------------------------------*/


.skills {
    display: flex;
    width: 90%;
    gap: 5px;
}

.skilldivConfigure {
    display: flex;
    width: 100%;
    gap: 10px;
}

.skilldivConfigure2 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.ResponsiveDivConfigurations {
    width: 100%;
    display: flex;
}


.card {
    display: flex;
    width: 100%;
    height: 30px;

    align-items: center;
    justify-items: center;
}

.card img{
    width: 30px;
    height: 30px;

    margin-right: 1%;
}

.card h2 {
    font-size: 1.2em;
    margin-left: 1%;
}

.PorcentSkill {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}



.PorcentSkill::-webkit-meter-optimum-value {
    background-image: linear-gradient(to right, #00aacc, #0077cc); /* Gradiente verde para a parte preenchida */
    border-radius: 5px;
}

.PorcentSkill meter::after {
    content: attr(value) '%'; /* Exibe o valor do medidor seguido de '%' */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
}






/* SECTION 005 ---------------------------------------------------------------------------------------------------------------------------------*/



/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1080px) {
    
   
   
  .OrganizateDiv {
    align-self: center;
    justify-self: center;
    }

}

@media (max-width: 1000px) {

 
 }

 @media (max-width: 768px) {
    .apresentation {
        display: flex;
        flex-direction: column;
    }

    .apresentation p,h1 {
        width: 80%;
        margin-left: 20px;
    }

    .myPhoto {
        margin-left: 0px;
        width: 50%;
    }

    .MySkills {
        flex-direction: column;
    }

    .Works {
        margin-left: 25px;
    }

    

}

@media (max-width: 650px) {
    

}

@media (max-width: 555px) {
    

 }


 @media (min-width: 555px) {
    
 }

 @media (min-width: 1080px) {
    .Works img {
        width: 10%;
    }

    .myPhoto {
        margin-left: 50px;
    }
    .apresentation {
        display: flex;
        margin-top: 50px;
    }
  }


/* GLOBAL --------------------------------------------------------------------------------------------------------------------------------- */
section {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-content: center;

    margin-top: 2rem;
    margin-bottom: 15px;
    
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 p {
    font-size: 1em;
    text-align: start;
  }

h1 {
    font-size: 1.5em;
    text-align: start;
}
 