:root {
    --border-radius: 5px;
    --gradiente: linear-gradient(to left, #6557ff, #e600ff);
    --gradiente2Pronject: linear-gradient(to left, #6557ff, #e600ff);
}


body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(39, 40, 42);
    color: aliceblue;

    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}


body::-webkit-scrollbar {
    width: 10px; 
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--bg-color); 
    border-radius: 10px; 
  }
  
  body::-webkit-scrollbar-track {
    background-color: var(--bg-color); 
  }
  
  html {
    scroll-behavior: smooth;
  }

/* SECTION 001 ---------------------------------------------------------------------------------------------------------------------------------*/
.hub {
    margin-top: 5px;
    width: 80%;
    display: flex;
    gap: 10px;
    overflow: hidden;


}

.hub a{
    width: 100%;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px;
    font-size: 1.3em;
}

.BtHub {
    width: 100%;
    height: 30px;
    border: none;

    background: var(--gradiente);
    border-radius: var(--border-radius);
}

/* SECTION 002 ---------------------------------------------------------------------------------------------------------------------------------*/
.apresentation {
    display: flex;
}


.apresentation  h1{
    width: 90%;
    margin-left: 55px;
}
.apresentation  p{
    width: 90%;
    margin-left: 55px;
}

.myPhoto {
    width: 25%;
    height: auto;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
    margin-left: 50px;
    filter: drop-shadow(0 0 20px #a357ff);
}

.Works {
    display: flex;
    gap: 10px;
    margin-left: 50px;
    margin-top: 50px;
}
.MyProfission {
    background: var(--gradiente) text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.Works img {
    width: 10%;
    height: auto;
    border-radius: 100%;
}

/* SECTION 003 ---------------------------------------------------------------------------------------------------------------------------------*/

.MySkills {
    display: flex;
    width: 90%;
    height: 100%;

    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-top: 50px;

}


.SkillCard {
    width: 100%;
    height: auto;
    background: var(--gradiente);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;

    align-items: center;
    

}

.SkillCard img {
    width: 80px;
    height: 80px;
}

.SkillCard h1{
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-bottom: 3rem;
}
.SkillCard p{
    text-align: center;
    width: 100%;
    margin: 0px;
}
.SkillCard p {
    margin-bottom: 30px;
}

/* SECTION 003 ---------------------------------------------------------------------------------------------------------------------------------*/

.carrer {
    display: flex;
    margin-top: 2rem;
    
    width: 100%;
    gap: 10px;
}

.boxCarrer1 {
    display: flex;
    gap: 10px;
    margin-left: 4.3vw;
}


.boxCarrer2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
    margin-left: 20px;
}

.boxCarrer2 h1{
    margin: 0px;  
    width: 90%;
}


.separateCardCarrer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.cardcarrer {
    display: flex;
    width: 200px;
    height: 100px;
    background-image: var(--gradiente);
    border-radius: var(--border-radius);

    justify-content: center;
    align-content: center;
}


.cardcarrer h1{
    font-size: 1.4em;
    text-align: center;
    width: 90%;
    align-self: center;
    justify-self: center;
}


/* SECTION 04 ---------------------------------------------------------------------------------------------------------------------------------*/


.skills {
    display: flex;
    width: 100%;
    gap: 5px;
    flex-direction: column;
    margin: 0px;
    margin-top: 2rem;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
}

.skills h1{
    width: 95%;
}

.skilldivConfigure {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
}

.skilldivConfigure2 {
    display: flex;
    width: 100%;
    gap: 20px;
}

.ResponsiveDivConfigurations {
    width: 100%;
    display: flex;
}


.card {
    display: flex;
    width: 100%;
    height: 30px;

    align-items: center;
    justify-items: center;
}

.card img{
    max-width: 30px;
    max-height: 30px;
    margin-right: 1%;
}

.card h2 {
    font-size: 1.2em;
    margin-left: 1%;
}

.PorcentSkill {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}



.PorcentSkill::-webkit-meter-optimum-value {
    background-image: var(--gradiente); /* Gradiente verde para a parte preenchida */
    border-radius: 5px;
}

.PorcentSkill meter::after {
    content: attr(value) '%'; /* Exibe o valor do medidor seguido de '%' */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
}






/* SECTION 005 ---------------------------------------------------------------------------------------------------------------------------------*/

.ProjectsDaddyDiv {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    align-items: center;
    justify-items: center;
    
}

.Project {
    width: 100%;
    height: 100%;
    background-image: var(--gradiente2Pronject);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;
}

.hubProjet {
    display: flex;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.TittleConteinerProjetct {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.TittleConteinerProjetct h1{
    width: 100%;
    margin: 0px;
    text-align: center;

    background: linear-gradient(to right, #ffffff, #c2c2c2) text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-size: 2em;
}

.btProjects {
    width: 5rem;
    background-color: #ffffff00;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}
.btProjects:hover {
    scale: 1.1;
}
.btProjects img{
    width: 80%;
    pointer-events: none;
    margin: 0px;
    align-self: center;
    justify-self: center;
}
/* parte principal dos projetos */
.ProjectDivShow {
    width: 90%;
    height: auto;
    margin-top: 20px;
    gap: 10px;

    display: flex;
    justify-content: center;
    align-content: center;
}

.sideProject {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.sideProject h1{
    width: 90%;

}
.sideProject h2{
    width: 90%;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

}

.classTextRevers {
    width: 92%;
    
    text-align: end;
    
}

.ImgProject {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: var(--border-radius);
    margin-top: 30px;
}

.btShowProject {
    width: 100%;
    height: 50px;
    border: none;

    background-image: var(--gradiente);
    border-radius: var(--border-radius);
    margin-bottom: 3rem;
    border: 3px solid rgba(0, 0, 0, 0.307);

}
.btShowProject p {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    margin: 0px;

    background: linear-gradient(to right, #ffffff, #c2c2c2) text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

}

.btShowProject:hover {
    scale: 1.03;
}




/* GLOBAL --------------------------------------------------------------------------------------------------------------------------------- */
section {
    width: 90%;
    display: flex;

    justify-content: center;
    align-content: center;

    justify-self: center;
    align-self: center;
    padding: 0px;
    margin-top: 1rem;
    
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 p {
    font-size: 1em;
    text-align: start;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

h1 {
    font-size: 2em;
    text-align: start;

    background: linear-gradient(to right, #ffffff, #c2c2c2) text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
 