
.flipRanimationR {
        animation: flipL 0.3s linear both;
}

.flipRanimationL {
        animation: flipR 0.3s linear both;
}

.animations {
        animation: anim 1s linear both;
}

@keyframes flipL {
        0% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
        }
        100% {
          -webkit-transform: rotateY(-180deg);
                  transform: rotateY(-180deg);
        }
      }

@keyframes flipR {
        0% {
                -webkit-transform: rotateY(0);
                transform: rotateY(0);
        }
        100% {
                -webkit-transform: rotateY(180deg);
                        transform: rotateY(180deg);
        }
}

/* scroll animations */

.hidden {
        opacity: 0;
        filter: blur(1px);
        transform: translateX(-100%);
        transition: all 0.5s;
}

.show {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0%);
        transition: all 0.5s;
}


@keyframes anim{
        0% {
               opacity: 1;
        }
        10% {
                opacity: 0;
        }
        50% {
                opacity: 0;
        }
        100% {
                opacity: 1;
        }
}





:root {
        --width-button: 20px;
        --show: flex;
}

.SetaUpkk {
        width: 10px;
        height: 10px;
        border: 2px solid #ffffff;
        border-left: 0;
        border-top: 0;
      
        transform: rotate(225deg);
}


.Setaleft {
        display: var(--show);
        width: var(--width-button);
        height: var(--width-button);
        border: 2px solid #ffffff;
        border-left: 0;
        border-top: 0;
        transform: rotate(135deg);
        padding: 0px;
        margin: 0px 0px 0px 10px;
        pointer-events: none
      }

.Setaright {
        display: var(--show);
        width: var(--width-button);
        height: var(--width-button);
        border: 2px solid #ffffff;
        border-left: 0;
        border-top: 0;
        transform: rotate(315deg);
        padding: 0px;
        margin: 0px 10px 0px 0px;
        pointer-events: none
}