:root {
    --border-radius: 5px;
    --gradiente: linear-gradient(to left, #6557ff, #d000ff);
    --gradiente2Pronject: linear-gradient(to left, #6557ff, #d000ff);
    --sombra: drop-shadow(0 0 5px #00000073);
    --textGradientColor: linear-gradient(to right, #ffffff, #f1f1f1) text;
    --background: linear-gradient(to left, #27282a, #27282a); /*27282a*/
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: var(--background);
    color: aliceblue;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    width: 5px; 
    background-color: #00000000;
  }
  
  body::-webkit-scrollbar-thumb {
    background-image: var(--gradiente); 
    border-radius: 10px; 
  }
  
  body::-webkit-scrollbar-track {
    background-color: var(--bg-color); 
  }
  
  html {
    scroll-behavior: smooth;
  }

/* SECTION 001 ---------------------------------------------------------------------------------------------------------------------------------*/
.hub {
    margin: 5px 0px 0px 0px;
    width: 80%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.BtHub {
    width: 100%;
    border: none;
    background: var(--gradiente);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-content: center;
}

.hub a{
    width: 100%;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
}

/* SECTION 002 ---------------------------------------------------------------------------------------------------------------------------------*/
.apresentation {
    display: flex;
}

.apresentation  h1{
    width: 90%;
    margin-left: 55px;
}
.apresentation  p{
    width: 85%;
    margin-left: 55px;
}

.myPhoto {
    width: 25%;
    height: auto;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
    margin-left: 50px;
    filter: drop-shadow(0 0 10px #a357ff);
}

.Works {
    display: flex;
    gap: 10px;
    margin: 50px 0px 0px 50px;
}
.destak {
    background: var(--gradiente) text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.Works img {
    width: 10%;
    height: auto;
    border-radius: 100%;
    filter: var(--sombra);
}

/* SECTION 003 ---------------------------------------------------------------------------------------------------------------------------------*/

.MySkills {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-top: 50px;

}


.SkillCard {
    width: 100%;
    height: auto;
    background: var(--gradiente);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: var(--sombra);

}

.SkillCard img {
    width: 80px;
    height: 80px;
}

.SkillCard h1{
    text-align: center;
    width: 100%;
    margin: 0px 0px 3rem 0px;

}
.SkillCard p{
    text-align: center;
    width: 90%;
    margin: 0px;
}
.SkillCard p {
    margin-bottom: 30px;
}

/* SECTION 003 ---------------------------------------------------------------------------------------------------------------------------------*/

.carrer {
    display: flex;
    margin-top: 2rem;
    width: 100%;
    gap: 10px;
}

.boxCarrer1 {
    display: flex;
    gap: 10px;
    margin-left: 4.3vw;
}


.boxCarrer2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; 
    margin-left: 20px;
}

.boxCarrer2 h1, p {
    margin: 0px;  
    width: 90%;
}

.separateCardCarrer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.cardcarrer {
    display: flex;
    width: 200px;
    height: 100px;
    background-image: var(--gradiente);
    border-radius: var(--border-radius);
    filter: var(--sombra);
    justify-content: center;
    align-content: center;
}


.cardcarrer h1{
    font-size: 1em;
    text-align: center;
    width: 90%;
    align-self: center;
    justify-self: center;
}


/* SECTION 04 ---------------------------------------------------------------------------------------------------------------------------------*/


.skills {
    display: flex;
    width: 100%;
    gap: 5px;
    flex-direction: column;
    margin: 2rem 3.5vw 0px 3.5vw;
}

.skills h1{
    width: 95%;
}

.skilldivConfigure {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: column;
}

.skilldivConfigure2 {
    display: flex;
    width: 100%;
    gap: 20px;
}

.ResponsiveDivConfigurations {
    width: 100%;
    display: flex;
}


.card {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-items: center;
    filter: var(--sombra);
}

.card img{
    max-width: 30px;
    max-height: 30px;
    margin-right: 1%;
}

.card h2 {
    font-size: 1.2em;
    margin-left: 1%;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.PorcentSkill {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.PorcentSkill::-webkit-meter-optimum-value {
    background-image: var(--gradiente); /* Gradiente verde para a parte preenchida */
    border-radius: 5px;
}

.PorcentSkill meter::after {
    content: attr(value) '%'; /* Exibe o valor do medidor seguido de '%' */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
}

/* SECTION 005 ---------------------------------------------------------------------------------------------------------------------------------*/

.ProjectsDaddyDiv {
    display: flex;
    width: 100%;
    margin: 3rem 0px 3rem;
    align-items: center;
    justify-items: center;
    
}

.Project {
    width: 100%;
    height: 100%;
    background-image: var(--gradiente2Pronject);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    filter: var(--sombra);
    align-items: center;
    justify-items: center;
}

.hubProjet {
    display: flex;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    padding: 0px;
}


.TittleConteinerProjetct {
    width: 100%;
    margin: 0px;
    text-align: center;
    background: var(--textGradientColor);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2em;

 
}

.btProjects {
    width: auto;
    height: 100%;
    background-color: #ffffff00;
    border: none;
    margin: 0px 10px 0px 10px;
    padding: 0px;
}
.btProjects:hover {
    scale: 1.1;
}
.btProjects img{
    width: 20px;
    height: 20px;
    pointer-events: none;
    margin: 0px;
    align-self: center;
    justify-self: center;
}
/* parte principal dos projetos */
.ProjectDivShow {
    width: 90%;
    height: auto;
    margin-top: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.sideProject {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

    align-content: center;
    justify-content: center;
}

.sideProject h1{
    width: 90%;
    margin: 10px 0px 0px 0px;
}
.sideProject h2{
    width: 90%;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    background: var(--textGradientColor);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.classTextRevers {
    width: 92%;
    text-align: end;
}

.imageProjectConfigurations {
    width: 100%;
    height: 100%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 20px 0px 0px 0px;
    
}

.ImgProject {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.imgProj {
    width: 100%;
    border-radius: var(--border-radius);
}
.imgProjSecond {
    width: 100%;
    border-radius: var(--border-radius);
    display: none;
}


.btShowProject {
    width: 100%;
    height: 50px;
    border: none;
    background-image: var(--gradiente);
    border-radius: var(--border-radius);
    margin: 0px 0px 3rem 0px;
    border: 3px solid rgba(0, 0, 0, 0.307);

}
.btShowProject p {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    margin: 0px;
    background: var(--textGradientColor);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

}

.btShowProject:hover {
    scale: 1.03;
}

/* Contrateme  --------------------------------------------------------------------------------------------------------------------------------- */

.Contrateme {
    display: flex;
    flex-direction: column;

}
.Contrateme h1 {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.ContratemeArea {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-top: 50px;
}

.ContraCard {
    width: 100%;
    height: auto;
    background: var(--gradiente);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: var(--sombra);

}

.ContraCard img {
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

.ContraCard h1{
    text-align: center;
    width: 100%;
    margin: 0px 0px 3rem 0px;

}
.ContraCard p{
    text-align: center;
    width: 90%;
    margin: 0px;
}
.ContraCard p {
    margin-bottom: 30px;
}

/* GLOBAL */

section {
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    padding: 0px;
    margin-top: 1rem;
    
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 p {
    text-align: start;
    font-size: 1em;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;

    background: var(--textGradientColor);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

h1 {
    
    background: var(--textGradientColor);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2em;
    text-align: start;
}
 